.bbslider-slider {
  display: block;
}
.bbslider-bar {
  height: 50px;
  width: 100%;
  display: block;
  background: #cfedfb;
  position: relative;
  border: 0 !important;
  box-sizing: border-box;
}
.bbslider-bar .bbslider-ghost,
.bbslider-bar .bbslider-range {
  position: absolute;
  height: 100%;
  top: 0;
}
.bbslider-bar .bbslider-ghost {
  color: white;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.bbslider-bar .bbslider-range {
  background: #5ac2f0;
  cursor: move;
  -webkit-user-drag: none;
}
.bbslider-bar .bbslider-range.bbslider-pressed {
  background: #43baee;
}
.bbslider-bar .bbslider-range .bbslider-left-handler,
.bbslider-bar .bbslider-range .bbslider-right-handler {
  position: absolute;
  width: 8px;
  background: #1eacea;
  height: 100%;
  cursor: ew-resize;
  -webkit-user-drag: none;
}
.bbslider-bar .bbslider-range .bbslider-left-handler {
  left: 0;
}
.bbslider-bar .bbslider-range .bbslider-right-handler {
  right: 0;
}
.bbslider-bar .bbslider-range.bbslider-is-removing .bbslider-right-handler,
.bbslider-bar .bbslider-range.bbslider-is-removing .bbslider-left-handler {
  width: 4px;
}
.bbslider-bar .bbslider-range.bbslider-is-removing.bbslider-pressed-right .bbslider-right-handler {
  right: -8px;
}
.bbslider-bar .bbslider-range.bbslider-is-removing.bbslider-pressed-left .bbslider-left-handler {
  left: -8px;
}
.bbslider-bar .bbslider-range .bbslider-remove-popup {
  color: white;
  transition: 0.5s;
  position: absolute;
  background: gray;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  top: -30px;
  text-align: center;
}
.bbslider-bar .bbslider-range.bbslider-pressed-left .bbslider-remove-popup {
  right: -6px;
}
.bbslider-bar .bbslider-range.bbslider-pressed-right .bbslider-remove-popup {
  left: -6px;
}
