.bbslider-slider {
  display: block;
}
.bbslider-bar {
  height: 50px;
  width: 100%;
  display: block;
  background: #cfedfb;
  position: relative;
  border: 0 !important;
  box-sizing: border-box;
}
.bbslider-bar .bbslider-label {
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: 50px;
  display: inline;
  color: #ffffff;
}
.bbslider-bar .bbslider-ghost,
.bbslider-bar .bbslider-range {
  position: absolute;
  height: 100%;
  top: 0;
}
.bbslider-bar .bbslider-ghost {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.bbslider-bar .bbslider-range {
  background: #5ac2f0;
  cursor: move;
  -webkit-user-drag: none;
}
.bbslider-bar .bbslider-range.bbslider-pressed {
  background: #43baee;
}
.bbslider-bar .bbslider-range .bbslider-left-handler,
.bbslider-bar .bbslider-range .bbslider-right-handler {
  position: absolute;
  width: 8px;
  background: #1eacea;
  height: 100%;
  cursor: ew-resize;
  -webkit-user-drag: none;
}
.bbslider-bar .bbslider-range .bbslider-left-handler {
  left: 0;
}
.bbslider-bar .bbslider-range .bbslider-right-handler {
  right: 0;
}
.bbslider-bar .bbslider-range.bbslider-zero-width.bbslider-pressed-right .bbslider-right-handler {
  right: -8px;
}
.bbslider-bar .bbslider-range.bbslider-zero-width.bbslider-pressed-left .bbslider-left-handler {
  left: -8px;
}
.bbslider-bar .bbslider-range.bbslider-zero-width .bbslider-remove-popup {
  left: -12px;
}
.bbslider-bar .bbslider-range .bbslider-remove-popup {
  transition: 0.5s;
  position: absolute;
  top: -30px;
  text-align: center;
  width: 100%;
}
.bbslider-bar .bbslider-range .bbslider-remove-popup .bbslider-remove-label {
  width: 20px;
  height: 20px;
  background: gray;
  color: #ffffff;
  opacity: 0.5;
  display: inline-block;
}
.bbslider-bar.bbslider-readonly .bbslider-left-handler,
.bbslider-bar.bbslider-readonly .bbslider-right-handler,
.bbslider-bar.bbslider-readonly .bbslider-range {
  cursor: default;
}
