@bbslider-bg: #128dc3;
@bbslider-color: #ffffff;

.bbslider-slider{
  display: block;
}

.bbslider-bar {
  height: 50px;
  width: 100%;
  display: block;
  background: lighten(@bbslider-bg, 48%);
  position: relative;
  border: 0 !important;
  box-sizing: border-box;

  .bbslider-label {
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 50px;
    display: inline;
    color: @bbslider-color;
  }

  .bbslider-ghost,
  .bbslider-range {
    position: absolute;
    height: 100%;
    top: 0;
  }

  .bbslider-ghost {
    color: @bbslider-color;
    background: rgba(0,0,0,0.25);
    cursor: pointer;
  }
  .bbslider-range {
    background: lighten(@bbslider-bg, 23%);
    cursor: move;
    -webkit-user-drag: none;
    &.bbslider-pressed {
      background: lighten(@bbslider-bg, 18%);
    }

    .bbslider-left-handler,
    .bbslider-right-handler {
      position: absolute;
      width: 8px;
      background: lighten(@bbslider-bg, 10%);
      height: 100%;
      cursor: ew-resize;
      -webkit-user-drag: none;
    }
    .bbslider-left-handler {
      left: 0;
    }
    .bbslider-right-handler {
      right: 0;
    }

    &.bbslider-zero-width {
      &.bbslider-pressed-right {
        .bbslider-right-handler {
          right: -8px;
        }
      }
      &.bbslider-pressed-left {
        .bbslider-left-handler {
          left: -8px;
        }
      }
      .bbslider-remove-popup{
        left: -12px;
      }
    }

    .bbslider-remove-popup {
      transition: 0.5s;
      position: absolute;
      top: -30px;
      text-align: center;
      width: 100%;
      .bbslider-remove-label {
        width: 20px;
        height: 20px;
        background: gray;
        color: @bbslider-color;
        opacity: 0.5;
        display: inline-block;
      }
    }
  }

  &.bbslider-readonly{
    .bbslider-left-handler,
    .bbslider-right-handler,
    .bbslider-range{
      cursor: default;
    }
  }
}